<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28299451913-hblhlddo7c75k6l5f9s3s1c5iiqs0dbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28299451913-hblhlddo7c75k6l5f9s3s1c5iiqs0dbi</string>
	<key>API_KEY</key>
	<string>AIzaSyAOiwiKGJXBYz4DUNTO1Y3r7X7pM86sa5E</string>
	<key>GCM_SENDER_ID</key>
	<string>28299451913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.ucundinamarca.globallinea20222</string>
	<key>PROJECT_ID</key>
	<string>proyectogenerallinea</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectogenerallinea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28299451913:ios:5f46203ebbf1fcf3be22d8</string>
</dict>
</plist>